// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrapper-container {
  float: left;
  width: 100%;
  height: auto;
  .card-post{
    width: calc(100% / 4 - 26px);
    @include breakpoint(medium){
      width: calc(100% / 2 - 26px);
    }
    @include breakpoint(xsmall){
      width: calc(100% / 1 - 26px);
    }
  }
}