<%= form_for(resource, as: resource_name, url: session_path(resource_name), remote:true, html: {class: 'login'}) do |f| %>
    <p class="title">Log in</p>
    <%= f.email_field :email, autofocus: true %>
    <i class="fa fa-user"></i>
    <%= f.password_field :password, autocomplete: "off" %>
    <i class="fa fa-key"></i>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <button>
      <i class="spinner"></i>
      <span class="state">Log in</span>
    </button>
      <footer><a target="blank" href="http://boudra.me/">boudra.me</a></footer>
<% end %>
