<li>
  <article>
    <header>
      <h3><%= link_to item_list.title, item_list %></h3>
      <%= time_tag item_list.created_at.to_date,
                   pubdate: true, class: 'published'%>
    </header>
    <a href="#" class="image"><%= image_tag '2.png'%></a>
  </article>
</li>