    <!-- Mini Post -->
    <article class="mini-post">
      <header>
        <h3><a href="#">Enim nisl veroeros</a></h3>
        <time class="published" datetime="2015-10-17">October 17, 2015</time>
        <a href="#" class="author"><img src="https://s3.buysellads.com/1298241/6678630-1460379620.png" alt="" /></a>
      </header>
      <a href="#" class="image"><img src="https://s3.buysellads.com/1298241/6678630-1460379620.png" alt="" /></a>
    </article>