<article>
  <header>
    <h3><a href="#">Euismod amet placerat vivamus porttitor</a></h3>
    <time class="published" datetime="2015-10-10">October 10, 2015</time>
  </header>
  <a href="#" class="image"><img src="https://s3.buysellads.com/1298241/6678630-1460379620.png" alt="" /></a>
</article>