<!-- Sidebar -->
<% content_is_present = locals[:content].nil?%>
<section id="sidebar" class="<%= locals[:direction] %>">
  <%= render 'layouts/sidebar_intro' %>
  <% unless content_is_present %>
  <!-- Mini Projects -->
  <section id="projects">
    <div class="mini-posts">
      <%= render partial: 'layouts/item_mini', collection: locals[:content] %>
    </div>
  </section>
  <!-- Posts List -->
  <section id="libraries">
    <ul class="posts">
      <%= render partial: 'layouts/item_list', collection: locals[:content] %>
    </ul>
  <% end %>
  </section>
</section>