<!--tab-->
<section class="tab">
  <!-- tab navigation ex: STAR | COMMENT | SHARE-->
  <ul class="tabs-nav">
    <li class="active">
      <a href="#content-star" id="tab-star">Star</a>
      <hr/>
    </li>
    <li>
      <a href="#content-comment" id="tab-comment">Comment</a>
    </li>
    <li>
      <a href="#content-share" id="tab-share">Share</a>
    </li>
  </ul>
  <!-- Put tab content here-->
  <!-- remember to add section class(section) and ID -->
  <div class="content">
    <div id="content-star">

    </div>
    <div id="content-comment">

    </div>
    <div id="content-share">

    </div>
  </div>
</section>