<!-- Sidebar -->
<section id="sidebar" class="<%= locals[:direction] %>">

  <!-- Intro -->
  <section id="intro">
    <a href="#" class="logo"><%= image_tag 'Shoyo-Hinata-Haikyuu.jpg', size: "81x80" %></a>
    <header>
      <h2>About Me</h2>
      <p>Another fine responsive site template in HTML5
        love to code android and other side
        im an kind who from Bali, Indonesia</p>
    </header>
  </section>

  <!-- Mini Projects -->
  <section id="projects">
    <h3>Projects</h3>
    <div class="mini-posts">

      <!-- Mini Post -->
      <article class="mini-post">
        <header>
          <h3><a href="#">Enim nisl veroeros</a></h3>
          <time class="published" datetime="2015-10-17">October 17, 2015</time>
          <a href="#" class="author"><img src="https://s3.buysellads.com/1298241/6678630-1460379620.png" alt="" /></a>
        </header>
        <a href="#" class="image"><img src="https://s3.buysellads.com/1298241/6678630-1460379620.png" alt="" /></a>
      </article>

    </div>
  </section>

  <!-- Posts List -->
  <section id="libraries">
    <h3>Library</h3>
    <ul class="posts">
      <li>
        <article>
          <header>
            <h3><a href="#">Euismod amet placerat vivamus porttitor</a></h3>
            <time class="published" datetime="2015-10-10">October 10, 2015</time>
          </header>
          <a href="#" class="image"><img src="https://s3.buysellads.com/1298241/6678630-1460379620.png" alt="" /></a>
        </article>
      </li>
      <li>
        <article>
          <header>
            <h3><a href="#">Magna enim accumsan tortor cursus ultricies</a></h3>
            <time class="published" datetime="2015-10-08">October 8, 2015</time>
          </header>
          <a href="#" class="image"><img src="https://s3.buysellads.com/1298241/6678630-1460379620.png" alt="" /></a>
        </article>
      </li>
      <li>
        <article>
          <header>
            <h3><a href="#">Congue ullam corper lorem ipsum dolor</a></h3>
            <time class="published" datetime="2015-10-06">October 7, 2015</time>
          </header>
          <a href="#" class="image"><img src="https://s3.buysellads.com/1298241/6678630-1460379620.png" alt="" /></a>
        </article>
      </li>
    </ul>
  </section>
</section>