<!-- Intro -->
<section id="intro">
  <a href="#" class="logo"><%= image_tag 'avatar.jpg'%></a>
  <header>
    <h2>About Me</h2>
    <p>Another fine responsive site template in HTML5
      love to code android and other side
      im an kind who from Bali, Indonesia</p>
  </header>
</section>