<%= form_for(resource, as: resource_name, url: session_path(resource_name), remote:true, html: {class: 'login'}) do |f| %>
    <p class="title">Log in</p>
    <%= f.email_field :email, autofocus: true, placeholder: "cool email" %>
    <i class="fa fa-user"></i>
    <%= f.password_field :password, autocomplete: "off", placeholder: "password with least 8 char" %>
    <i class="fa fa-key"></i>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password"  %>
    <i class="fa fa-key"></i>
    <button>
      <i class="spinner"></i>
      <span class="state">Log in</span>
    </button>
    <footer><a target="blank" href="http://boudra.me/">boudra.me</a></footer>
<% end %>

